.table-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

.new-btn {
    padding: 16px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    font-size: 20px;
}

.new-btn:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-btn,
.delete-btn {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.delete-btn {
    background-color: #dc3545;
    margin-right: 5px;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #555;
}

.edit-btn:active,
.delete-btn:active {
    background-color: #222;
    transform: translateY(1px);
}
