:root {
    --color-primario: black;
    --color-secundario: #efb810;
    --color-terciario: #333;
}

.table-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

.new-btn {
    padding: 16px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--color-primario);
    color: #FFF;
    font-size: 20px;
}

.new-btn:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid var(--color-terciario);
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--color-primario) ;
    color: var(--color-secundario);
}

td{
    color: var(--color-secundario);
}

.edit-btn,
.delete-btn {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--color-primario);
    color: #fff;
    text-decoration: none;
    display: inline-block;
}


.delete-btn {
    background-color: var(--color-primario);
    margin-right: 5px;
}

.delete-btn:hover {
    background-color: #c70000;
    margin-right: 5px;
}


.edit-btn:hover{
    background-color: #555;
}

.edit-btn:active,
.delete-btn:active {
    background-color: #222;
    transform: translateY(1px);
}
