.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 27px;
    border: 1px solid #888;
    width: 72%;
    border-radius: 20px;
}

.modal-content h2{
    text-align: center;
    color: black;
}

.modal-content span{
    font-weight: 800;
    font-size: 30px;
}
.modal-content span:hover {
    color: red;
    cursor: pointer;
}


